server:
  service:
    type: ClusterIP
  insecure: true
  extraArgs:
    - --insecure

configs:
  params:
    server.insecure: true

repoServer:
  livenessProbe:
    enabled: false
  readinessProbe:
    enabled: true
